<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fronted config loading example</title>
</head>
<body>
<script>
    var ServerInject = {
        ConfigInject: <%- JSON.stringify(clientConfig); %>
    }
</script>
</body>
</html>